@page "/"
@using KulaginWork.Services
@inject DateTimeService DateTimeService
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<h1>Сейчас на сервере @DateTimeService.GetDateTime()</h1>
Welcome to your new app.